.slider {
    overflow: hidden;
    .tns-nav,
    .tns-visually-hidden {
        display: none;
    }
}

.slider-inner .slider__item {
    display: inline-block;
}

.slider-inner .slider__item {
    figure {
        height: 0;
        padding-bottom: 75%;
        position: relative;
        picture {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            img {
                height: 100%;
                object-fit: contain;
                width: 100%;
                -webkit-user-drag: none;
                -khtml-user-drag: none;
                -moz-user-drag: none;
                -o-user-drag: none;
                user-drag: none;
            }
        }
    }
}